* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-bottom: 80px;
  margin: 1em;
}

.main-head {
  text-align: center;
}
/* Barra de navegación */
nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #212529;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: #dfdedf;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: #1c1f22;
}

nav .dashboard {
  font-size: larger;
  font-weight: bold;
}

nav .nav-right {
  float: right;
}

.burger-button-img {
  width: 20px;
  height: 20px;
}

.hide {
  display: none;
}
/* Dropdown barra de navegación*/
.dropdown-content {
  background-color: #212529;
  display: none;
  position: absolute;
  right: 0;
}
.dropdown-content a {
  float: none;
  color: #dfdedf;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-show {
  display: block;
}

/* Contenido pagina main -- Grid */
.grid-container {
  display: grid;
  grid-template-columns: 70% auto;
  padding: 10px;
  gap: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  padding-right: 10px;
}

.grid-container .item-left h3 {
  font-size: 30px;
}

.grid-container .item-left table {
  width: 100%;
  border-collapse: collapse;
}

.grid-container .item-left table td,
.grid-container .item-left table th {
  border-bottom: 1px solid #b3b2b2;
}

.grid-container .item-left table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.grid-container .item-left table th.center-align {
  text-align: center;
}

.grid-container .item-left table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-container .item-left table td.center-align {
  text-align: center;
}

.grid-container .item-left table button {
  background: none;
  border: none;
}
/* Imagenes para botones */
.button-img-edit,
.button-img-delete {
  width: 20px;
  height: 20px;
}
/* Tabla Agenda */
.grid-container .item-right table {
  border: 1px solid #b3b2b2;
  border-spacing: 0;
  border-radius: 5px 5px 5px 5px;
}

.grid-container .item-right h3 {
  text-align: center;
  font-size: 30px;
}

.grid-container .item-right table {
  width: 100%;
}

.grid-container .item-right table td {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #b3b2b2;
}

.grid-container .item-right table tr:last-child td {
  border-bottom: none;
}
/* Tabla clientes en pagina clientes.html */
.full-table {
  width: 100%;
  border-collapse: collapse;
}
.full-table .center-align {
  text-align: center;
}
.full-table th,
.full-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b2b2;
}
.full-table th.left-align,
.full-table td.left-align {
  padding-left: 5rem;
  text-align: left;
}
.full-table button {
  background: none;
  border: none;
}
/* Dialog Modal*/
.clientes-dialog {
  border: 1px solid #b3b2b2;
  border-radius: 5px 5px 5px 5px;
}
.clientes-dialog h3 {
  text-align: center;
}
.clientes-dialog::backdrop {
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
}
.clientes-dialog input {
  border: none;
  border-bottom: 1px solid black;
}
.add-input,
.edit-input {
  width: 100%;
  font-size: 16px;
}
.add-input.fecha,
.edit-input.fecha {
  text-align: center;
}
/* Dialog borrar */
.borrar-dialog-message {
  padding: 1em;
  border: 2px solid #cc0000;
  border-radius: 10px;
  background-color: #ff4444;
  color: white;
  text-align: center;
}
/* Dialog botones*/
.dialog-control {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.btn-dialog {
  color: #dfdedf;
  display: inline;
  margin: 5px;
  background: #303437;
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 30%;
}
.btn-dialog:hover {
  color: #f5f5f5;
  background: #17191b;
}
/* Boton */
.btn-add {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #dfdedf;
  background: #303437;
  border-radius: 5px;
  border: none;
  padding: 8px 30px;
  font-size: medium;
  margin-bottom: 1em;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}
.btn-add:hover {
  color: #f5f5f5;
  background: #17191b;
}

/* Footer */
footer {
  background-color: #212529;
  color: #dfdedf;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
}
/* Estilos pantalla pequeña (sitio web movil) */
@media (max-width: 768px) {
  main {
    margin-bottom: 0px;
  }
  /* Barra de navegacion */
  nav {
    height: auto;
  }

  nav ul {
    display: block;
    height: auto;
    text-align: center;
  }

  nav li {
    float: none;
  }

  nav li a {
    text-align: left;
  }

  nav .nav-right {
    float: none;
  }

  .nav-button {
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
  }

  .burger-button {
    font-size: 0;
    background-color: #212529;
    padding: 5px;
    border: none;
  }
  .dropdown-content {
    background-color: #212529;
    position: absolute;
    left: 0;
  }
  /* Animación barra de navegación */
  .menu-active {
    animation: menu-icon-active 0.3s ease-out forwards;
  }

  @keyframes menu-icon-active {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-90deg);
    }
  }

  .menu-inactive {
    animation: menu-icon-inactive 0.3s ease-out forwards;
  }

  @keyframes menu-icon-inactive {
    from {
      transform: rotate(-90deg);
    }

    to {
      transform: rotate(0deg);
    }
  }

  .nav-button div {
    padding: 0;
  }
  /* Grid pagina */
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }

  .grid-container-child {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px;
  }

  .full-table th.left-align,
  .full-table td.left-align {
    padding-left: 0;
    text-align: left;
  }

  /* Footer */
  footer {
    position: relative;
    margin-top: 80px;
  }
}
